@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@400;700;800&family=Josefin+Sans:wght@300&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&family=Poppins:wght@500;700;800;900&family=Red+Hat+Display:ital,wght@0,700;0,900;1,500&family=Six+Caps&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: hsl(36, 100%, 99%);
    font-family: 'Outfit', sans-serif;
}

.navbar{
    margin-top: 20px;
    margin-left: 16px;
    background: hsl(36, 100%, 99%);  
}
.nav-center{
   width: 343px;
    height: 28px;
    max-width: 1170;
}
.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  .nav-links{
    display: none;
  }  
    .img-small {
      margin-top: 20px;
      margin-left: 16px;
      width: 343px;
      height: 300px;
    }
    .logo {
      width: 44px;
      height: 28px;
    }
.menu{
  width: 40px;
  height: 17px;
}
  h1{
    margin-left: 16px;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px; 
  }
  .hero p{
    width: 343px;
    margin-left: 16px;
    color: hsl(236, 13%, 42%);
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    
  }
  .btn{
    background: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    width: 185px;
    height: 48px;
    margin-left: 1rem;
    border: transparent;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 4.375px;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
  .btn:hover{
    background: black;
  }
  .project-info{
    margin-left: rem;
    
    width: 343px;
    background: hsl(240, 100%, 5%);
    padding-bottom: 1rem;
    margin-bottom: 3rem;
  }
  h1{
    font-size: 48px;
    line-height: 56px;
    width: 350px;
    height: 182px;
    padding-bottom: 2rem;
  }
  h2{
    padding-top: 0.5rem;
    color: #E9AA52;
    font-weight: 700;
    margin-left: 20px;
  }
  h3{
    margin-left: 20px;
    color: hsl(36, 100%, 99%);
    font-size: 20px;
    font-weight: 800;
    padding-top: 20px;
  }
  h3:hover{
    color:#E9AA52;
  }
  .project-info p{
    height: 52px;
    font-size: 15px;
    line-height: 26px;
    width: 290px;
    color: hsl(233, 8%, 79%);
    margin-left: 21px;
  }
  .line{
    width: 280px;
    height: 0.1rem;
    background-color: hsl(236, 13%, 42%);
    margin-left: 20px;
    margin-top: 40px;
  }
  .project-container{
    margin-top: 100PX;
    margin-left: 16px;
    height: 451px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
  }
  .project-descriptions{
    display: grid;
    grid-template-columns: 100px 1fr;
  }
.image img{
  width: 150px;
  height: 189px;
}
.info{
  margin-left: 16px;
}
.number{
  font-size: 32px;
  margin-left: 50px;
  top: 0;
  color: #C5C6CE;
  line-height: 32px;
  font-weight: 700;
}
  .info h4{
    font-size: 18px;
    line-height: 24px;
    margin-top: 0;
    margin-left: 50px;
    margin-bottom: 0;
  }
  .info h4:hover{
    color: hsl(5, 85%, 63%);
  }

.info p{
  font-size: 15px;
  margin-left: 50px;
  width: 210px;
  text-transform: capitalize;
}
@media screen and (min-width:1170px){
  .nav-header {
    height: 80px;
    width: 1440px;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
  }
  .nav-header ul{
    justify-content: space-between;
    margin-right: 3rem;
    list-style-type: none;
  }
  .nav-center{
    padding-top: 80px;
    margin-left: 40px;
  }
  .nav-links li a{
    text-decoration: none;
    text-transform: capitalize;
    color: hsl(236, 13%, 42%);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
  }
  .nav-links a:hover{
    color:hsl(5, 85%, 63%);
  }
  .menu{
    display: none;
  }
  .img-small{
    display: none;
  }
  .nav-links{
  display: flex;
  width: 431px;
  padding-right: 7rem;
  }
  .hero{
    background-image: url(assets/images/image-web-3-desktop.jpg);
    width: 920px;
    height: 400px;
    background-size: cover;
    margin-left: 60px;
    margin-top: 100px;
  }
  .hero h1{
    padding-top: 25rem;
    font-size: 56px;
    line-height: 56px;
    margin-left: -1px;
    width: 350px;
    font-weight: 900;
  }
  .hero-info{
    
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .hero p{
    color: hsl(233, 8%, 79%);
    padding-top: 26rem;
    font-size: 18px;
    font-weight: 400;
    width: 380px;
    margin-left: 170px;
    line-height: 26px;
    margin-bottom: rem;
  }
  .btn{
    margin-left: 170px;
  }
.container{
  display: grid;
  grid-template-columns: 730px 350px;
}
.project-info{
  margin-left: 280px;
  margin-top: 100px;
  height: 611px;
}
.project-info p{
  margin-top: 20px;
  color: hsl(233, 8%, 79%);
}
.project-container{
  margin-left: 60px;
  width: 1440px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
h2{
  font-size: 40px;
  line-height: 40px;
}
h4{
  padding-top: 1rem;
}
p{
  margin-top: 20px;
  color: hsl(233, 8%, 79%)
}
.btn{
  margin-top: 20px;
}
.logo{
  width:64px;
  height:40px
}
}
    
   
